[options]
addons_path = /var/lib/odoo/odoo/addons, /var/lib/odoo/extra-addons/enterprise, /var/lib/odoo/extra-addons/project
data_dir = /var/lib/odoo/data

db_host = $ODOO_DB_HOST
db_port = $ODOO_DB_PORT
db_sslmode = $ODOO_DB_SSL

db_user = $ODOO_DB_USER
db_password = $ODOO_DB_PASSWORD

dbfilter = ^%d$
db_template = template1